.App {
  text-align: center;
  background-color: grey white;
  
}

.app2 {
  background-color: aliceblue;
}

.App .h1 .text {
  color: rgb(239, 18, 18);
}

.button1 {
  color: red;
}

.footer {
  background-color: rgb(125, 125, 127);
  height: 50px;
  justify-content: end;
  align-items: flex-end;
}

/* Todo css */

.table-one {
  margin: 50px;
  position:absolute;
  left: 200px;
  padding: 40px;
}

.table-two {
  margin: 50px;
  position:absolute;
  right: 200px;
  padding: 40px;
}