.App {
  text-align: center;
  background-color: grey;
  
}

.app2 {
  background-color: aliceblue;
}

.App .h1 .text {
  color: rgb(239, 18, 18);
}

.button1 {
  color: red;
}

.footer {
  background-color: rgb(125, 125, 127);
  height: 50px;
  justify-content: center;
}

